<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text lead">AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</span>
</nav>
<div class="container-fluid mt-3">
    <div id="app">

    </div>
</div>

<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/utility.js"></script>
<script type="module" src="~/Scripts/app.js"></script>